@use '../themes/theme-portfolio' as colors; 
@use '../abstracts/variables' as breakpoints; 

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 60px);

    .home {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60vh;

        &-photo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            &-profile {
                width: 15rem;
                border-radius: 10rem;
            }
        }
        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 50%;

            &-name {
                font-weight: bold;
                font-size: 2.25rem;
                color: colors.$title-color;
                margin-bottom: 0.5rem;
            }
            &-title {
                font-size: 1.5rem;
                color: colors.$title-color;
                margin-bottom: 0.5rem;

                &::after {
                    content: '';
                    display: block;
                    width: 50%;
                    height: 3px;
                    background-color: colors.$title-color;
                    margin-block: 0.5rem;
                }
            }
            &-description {
                    color: colors.$white;
                    font-weight: bold;
                    text-align: justify;
                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1.5px;
                        background-color: colors.$title-color;
                        margin-block: 1rem;
                    }    
            }
            &-buttons {
                margin-top: 0.75rem;
                display: flex;
                justify-content: center;
                gap: 0.75rem;

                a {
                    display: flex;
                    font-size: 2.75rem;
                    color: colors.$white;

                    &:hover {
                        color: colors.$title-color;
                    }
                }
                
                &-Cv {
                    margin-right: 5%;
                    padding-inline: 10px;
                    border: 1px solid colors.$white;
                    color: colors.$white;
                    cursor: pointer;
                    background-color: colors.$background;

                    p {
                        font-size: 1rem;

                    }

                    &:hover {
                        border: 1px solid colors.$title-color;
                        color: colors.$title-color;
                        box-shadow: 0 1px 1px colors.$title-color;
                    }
                }
            }

            & > * {
                width: 80%;
            }
        }
    }
    .down-button{
        background-color: transparent;
        border:none;
        cursor: pointer;
        animation: parpadeo 1s infinite alternate;

        &-icon{
            border: 1.5px solid colors.$white; 
            border-radius: 50%;
            font-size: 1.25rem;
            padding: 10px;
            color: colors.$white;
        }
    }
}

@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.25;
    }
}

@media screen and (max-width: breakpoints.$breakpoint-xl) {
    .home-text > *{
        width: 100% !important;
    }
}

@media screen and (max-width: breakpoints.$breakpoint-lg) {
    .home-photo-profile{   
                width: 10rem !important;
    }

    .home-text-buttons{
        a{
            font-size: 1.75rem !important;
        }
        &-Cv p{
            font-size: 0.85rem !important;
        }
    }
}

@media screen and (max-width: breakpoints.$breakpoint-md) {
    .home{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;

        &-photo, &-text{
            width: 100% !important;
        }

        &-photo-profile{
            margin-bottom: 2rem;
        }

        &-text-name{
            font-size: 1.5rem !important;
        }

        &-text-title{
            font-size: 1.25rem !important;
        }

        &-text-description{
            font-size: 0.75rem !important;
        }

        &-text-buttons{
            a{
                font-size: 1.5rem !important;
            }
            &-Cv p{
                font-size: 0.7rem !important;
            }
        }


    }

    .down-button-icon{
        font-size: 0.7rem !important;
        padding: 2.5px;

    }
}

@media screen and (max-width: breakpoints.$breakpoint-sm) {
    .home-text-title{
        font-size: 1rem !important;
    }
}

