* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 60px);

}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 42, 58, 1);
    height: 60vh;
}



.home-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    padding-right: 3%;
}




.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.fotoPerfil {
    width: 50%;
    border-radius: 10rem;
}

.home-text-name {
    font-weight: bold;
    font-size: xx-large;
    color: rgba(230, 126, 34, 1);
    margin-bottom: 1%;
}


.home-text-title {
    font-size: x-large;
    color: rgba(230, 126, 34, 1);
    margin-bottom: 3%;
}

.home-text-description {
    width: 50%;
    color: white;
    font-weight: bold;
}

.decorador1 {
    border-top: 2px solid rgba(230, 126, 34, 1);
    width: 25%;
    margin-bottom: 4%;
}




.home-text-buttons {
    border-top: 2px solid rgba(230, 126, 34, 1);
    margin-top: 4%;
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 60%;
    gap: 3%;
}

.home-text-buttons a {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 40px;
    color: rgba(140, 140, 140, 1);
    opacity: 0.7;
}

.home-text-buttons a:hover {
    color: rgba(230, 126, 34, 1);
    opacity: 1;
}

.home-text-buttons-Cv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block: auto;
    margin-right: 5%;
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 1.75rem;
    border: 1px solid white;
    color: whitesmoke;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: rgba(23, 42, 58, 1);
}

.home-text-buttons-Cv:hover {
    border: 1px solid orange;
    color: orange;
    box-shadow: 0 1px 1px rgba(255, 165, 0, 0.5);

}

.home-text-buttons-Cv p {
    font-size: medium;
}

.buttonAbajo{
    background-color: transparent;
    border:none;
    cursor: pointer;
    width: 3%;
}

.parpadeo {
    animation: parpadeo 1s infinite alternate;
}
.flechaAbajo{
    border: 1.5px solid white; /* Establece un contorno blanco */
    border-radius: 50%; /* Hace que el contorno sea circular */
    font-size: 1rem;
    padding: 7px;
    color: white;
}


@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
}

@media screen and (max-width: 992px) {

    .fotoPerfil {
        width: 70%;
    }

    .home-text-name {
        font-size: x-large;
    }

    .home-text-title {
        font-size: large;
    }

    .home-text-description {
        width: 60%;
        color: white;
        font-weight:100;
    }


    .home-text-buttons-Cv p{
        font-size: small;
    }

}

@media screen and (max-width: 600px) {

    .home-text-name {
        font-size: large;
    }

    .home-text-title {
        font-size: medium;
    }

    .home-text-description {
        width: 60%;
        color: white;
        font-weight:100;
        font-size: small;
    }

    .home-text-buttons-cv-icon{
        width: 25px;
    }


    .home-text-buttons-Cv p{
        font-size: x-small;
    }

}

@media screen and (max-width: 450px) {
    .fotoPerfil{
        width: 75%;
        margin-inline: auto;
    }
    .home-text-description {
        width: 80%;
    }

    .home-text-title {
        font-size: small;
    }
    .home-text-buttons-cv-icon{
        width: 20px;
    }
    .home-text-buttons-Cv p{
        font-size: 7px;
        margin-right: 1px;
        padding-block: 1px;
        padding-inline: 1px;
        border-radius: 1.75rem;
    }

    .home-text-buttons {
        border-top: 2px solid rgba(230, 126, 34, 1);
        margin-top: 4%;
        padding-top: 4%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 80%;
        gap: 1%;
    }
}