header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    height: 60px;
    border-bottom: 1px solid rgba(140, 140, 140, 1);
    background-color: rgba(23, 42, 58, 1);;
}

.sticky{
  background-color: white;
}

.navbarCustom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-list {
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgba(140, 140, 140, 1);
    font-weight: bold;
}

.nav-list li {
    position: relative;
    padding-inline: 20px;
}

.nav-list li a {
    position: relative;
    color: rgba(140, 140, 140, 1);
    transition: 0.6s;

}

.nav-list li a:hover {
    color: rgba(230, 126, 34, 1);
}

.menuMobile {
    display: none;
    width: 0%;
}

.buttonAbrir{
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: xx-large;
    border-radius: 0.375rem;
    padding: 1.5%;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(23, 42, 58, 1);
}

.cerrarMenuMobile {
  display: none;
  margin-bottom: 10%;
}



.sticky li a{
  color: rgba(23, 42, 58, 1);;
}
  

@media screen and (max-width: 1200px) {
    .nav-list {
        width: 50%;
    }
}


@media screen and (max-width: 992px) {
    .nav-list {
        font-size: small;
    }
}


@media screen and (max-width: 600px) {
  .menuMobile{
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: black;
  }
  
  .cerrarMenuMobile {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    margin-right: 5%;
    color: white;
   }

    .navbarCustom {
      width: 35%;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(183, 184, 171, 0.5);
    }

    .navbarCustom.visible {
      opacity: 1;
      visibility: visible;
    }

    .nav-list {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      gap: 0.5rem;
      font-size: large;
     }
    
    .nav-list li{
      margin-block: 10%;
    }
    .nav-list li a{
      color: white;
      font-size: medium;
    }
}
