.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(140, 140, 140, 1);
    margin-top: 8vh;
    padding-top: 8vh;
    width: 70%;
    margin-inline: auto;
}

.project-title {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 2.5%;
}

.project-subtitle {
    font-size: medium;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
}

.project-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(140, 140, 140, 1);
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s, opacity 0.5s;
}

.project-article:hover {
    border: 1px solid white;
}

.project-article.visible {
    transform: translateX(0);
    opacity: 1;
}

.project-article-text {
    background-color: rgba(140, 140, 140, 1);

}

.project-article-title {
    background-color: rgba(140, 140, 140, 1);
    color: white;
    margin-bottom: 3%;
}

.project-article-description {
    background-color: rgba(140, 140, 140, 1);
    color: white;
    margin-bottom: 3%;
}

.project-article-techs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(140, 140, 140, 1);
}

.project-article-codes {
    background-color: rgba(140, 140, 140, 1);
    color: white;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.project-article-codes p {
    background-color: rgba(140, 140, 140, 1);
    margin-bottom: 1%;
}

.project-article-codes-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(140, 140, 140, 1);
}

.project-article-codes-section a {
    color: white;
    background-color: rgba(140, 140, 140, 1);
    margin-inline: 3%;
    font-size: 1.2rem;
}

.project-article-codes-section a:hover {
    color: rgba(230, 126, 34, 1);
}

.project-article-codes-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.project-article-techs-logo {
    width: 40px;
    height: auto;
    opacity: 0.8;
}

.project-article-techs-logo:hover {
    opacity: 1;
}

.project-article-text {
    width: 80%;
    padding: 2%;
    background-color: rgba(140, 140, 140, 1);
    padding-right: 10%;
}

.project-article-iframe {
    position: relative;
    overflow: hidden;
    background-color: rgba(140, 140, 140, 1);
    width: 30%;
    margin-inline: 10%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.project-article-iframe-enlace {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-article-iframe-enlace:hover {
    color: white;
    opacity: 1;


}

.project-article-iframe:hover {
    opacity: 0.7;
    border: 2px solid rgba(230, 126, 34, 1);
}


@media screen and (max-width: 1200px) {
    .descripcionProject {
        font-size: small;
        text-align: justify;
        margin-block: 10%;
    }

    .codeProjects {
        margin-top: 10%;
    }
}

@media screen and (max-width: 992px) {
    .projects{
        width: 90%;
    }
    .project-article{
        padding: 1%;
    }
    .project-article-title {
        font-size: large;
    }

    .project-article-iframe {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .projects{
        width: 80%;
    }
    
    .project-article{
        padding: 1.5%;
    }

    .project-article-title{
        font-size: small;
    }
    
    .project-article-description{
        font-size: xx-small;
    }

    .project-article-text {
        width: 50%;
        padding-right: 0px;
    }

    .project-article-codes-section {
        width: 40%;
    }

    .project-article-codes-p{
        margin-top: 5%;
        font-size: x-small;
    }

    .project-article-techs-logo {
        width: 20px;
    
    }
    .project-article-iframe {
        width: 30%;
        height: 120px;
        margin-inline: 1%;
    }
    .project-article-codes-link-p{
        font-size: x-small;
    }
}


@media screen and (max-width: 450px) {
    .project-title{
        font-size: large;
        margin-bottom: 2%;
    }
    .project-subtitle{
        font-size: small;
        margin-bottom: 5%;
    }
    
   .project-article{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    margin-bottom: 5%;
   }
   .project-article-text{
    margin-top: 5%;
    width: 80%;
   }
    .project-article-iframe {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;

    }
}