$title-color: #E67E22;
$white: #ffffff;
$black: #000000;
$button-unactive: #8c8c8c;
$background: #172a3a;
$grey: #A9A9A9;


$item1: #E8EDE7 ;
$item2:#A7C5BD;
$item3:#84b496 ;
$item4: #81BECE ;

// $primary-color: #5bc0eb;
// $primary-color-button: #007bff;
// $primary-color-button-hover: #0056b3;
// $secondary-color: #f6f8f8;
// $title-color: #3d3f41;
// $shadow-color: rgb(80, 80, 80);
// $white: #ffffff;
// $tertiary-color: #8bc34a;
// $tertiary-color-hover: #4a721c;
// $form-color: #eeeeee;
// $shadow-button-color: rgba(0, 0, 0, 0.2);